body { margin: 0; }

/* MOBILE COMPATIBILITY */
/* Disable double-tap to zoom */
* {
  -ms-touch-action: manipulation; /* IE 10 */
  touch-action: manipulation;     /* Others */
}

/* Disable pinch zoom */
html {
  touch-action: pan-x pan-y;
  height: 100% 
}

/* Disable reloading when over-scrolling */
html, body {  
  overscroll-behavior: none;
}